[submodule "Algoritmos & Estruturas de Dados II/Aulas/3_Árvores_Balanceadas/AVL-Tree/lib/termcolor-c"]
	path = Algoritmos & Estruturas de Dados II/Aulas/3_Árvores_Balanceadas/AVL-Tree/lib/termcolor-c
	url = https://github.com/ararslan/termcolor-c
