# Executável do Windows
*.exe
# Executável genérico (Linux)
*.out
#*.x86_64
# LaTeX, papers, e afins
*.pdf
# Assets
*.zip
# Arquivos de saída da compilação não linkados
*.o
# Arquivo de biblioteca genérico (Linux)
*.so
# Arquivo de saída da compiliação do Python
*.pyc
# Binário usado pelo SCons para rastrear arquivos de compilação
*.sconsign.dblite
# CMake
*CMakeFiles*
*.cmake
*CMakeCache.txt
*Makefile
*so.a
